{{!-- <label for="checkbox-for-{{elementId}}" class="add-to-calendar-checkbox">+ Add to my Calendar</label>
<input name="add-to-calendar-checkbox" class="add-to-calendar-checkbox" id="checkbox-for-{{elementId}}" type="checkbox"> --}}

<a class="icon-google" target="_blank" href="{{googleCalendarUrl}}">Google Calendar</a>
{{!-- <a class="icon-yahoo" target="_blank" href="{{yahooCalendarUrl}}">Yahoo! Calendar</a> --}}
<a class="icon-cal" target="_blank" href="{{iCalendarUrl}}">iCal Calendar</a>
<a class="icon-outlook" target="_blank" href="{{outlookCalendarUrl}}">Outlook Calendar</a>
